<h2>Formats</h2>
<table>
  <tr *ngFor="let f of formats">
    <td>
      <app-format [format]="f"></app-format>
      <button mat-button color="primary" (click)="delete(f,true)" [hidden]="f.isDeleted" [disabled]="f.isDeleted">Delete</button>
      <button mat-button color="primary" (click)="delete(f,false)" [hidden]="!f.isDeleted" [disabled]="!f.isDeleted">Un-Delete</button>

    </td>
  </tr>
</table>
<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <a mat-button (click)="addNew()" color="primary">Add new</a>
    <a mat-button (click)="save()" color="primary" [disabled]="!haveChanges()">save</a>
  </mat-toolbar-row>
</mat-toolbar>



